<html xmlns:th="http://www.thymeleaf.org">
<!-- Modal de confirmación de Compra	 -->
	<div class="modal fade" id="modalConfirmacion">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Detalle de Venta</h4>
            </div>
            <form th:action="@{/caja/confirmar}" method="post" role="form" id="form-comprobante">
            <input type="hidden" name="id_cabecera" id="id_cabecera">
            <div class="modal-body">
             	<table id="ventaDT" class="table table-bordered table-hover">
	                <thead>
	                <tr>
						<th>Producto</th>
						<th>Cantidad</th>
						<th>Total</th>
					</tr>
	                </thead>
	                <tbody>
	                	<tr th:each="det : ${listDetalle}">
	                		<td th:text="${det.producto.descripcion}"></td>
	                		<td th:text="${det.cantidad}"></td>
	                		<td th:text="${det.precioTotal}"></td>
	                	</tr>
	                </tbody>
	              </table>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary pull-left" name="conf" value="confirmar">Confirmar</button>
              <button type="button" class="btn btn-danger pull-left "name="conf" value="anular" data-dismiss="modal">Anular</button>
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
            </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
</html>