<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
                <tr th:id="${ventaDetalle.producto.id}">
					<td th:text="${ventaDetalle.producto.codigo} ">183</td>
					<td th:text="${productoDetalle.descripcion}">Cocal Cola de ejemplo</td>
					<td th:text="${ventaDetalle.cantidad}">2</td>
					<td th:text="${productoDetalle.precioVenta}">5.000</td>
					<td th:text="${ventaDetalle.precioTotal}">10.000</td>
					<td><button type="button" class="btn btn-danger"
							th:onclick="'removerDetalle(\'' + ${ventaDetalle.producto.id} + '\');'">
							<span class="glyphicon glyphicon-remove"></span>
						</button></td>
				</tr>
