<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">
<meta charset="utf-8" />
<div class="row" th:fragment="contenido">

	<!-- ## SECCION DE PROUDCTOS  -->

	<div class="col-md-6">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Productos</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool"
						data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove">
						<i class="fa fa-remove"></i>
					</button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Busqueda</label>
							<div class="box-body">
								<div id="magicsuggest"></div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label for="inputNombre">Código:</label> 
							<input name="codigo" type="text" class="form-control" id="codigo"
							data-validation="required">
						</div>
						<div class="form-group">
							<label for="inputNombre">Nombre:</label> 
							<input type="text" class="form-control" id="nombre" name="nombre"
							placeholder="Ingrese Nombre"
							data-validation="required"
			 				data-validation-error-msg-required="Debe ingresar el nombre del cliente">	
						</div>
					</div>
					<!-- /.col -->
					<div class="col-md-6">
						<div class="form-group">
							<label>Precio Venta:</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-usd"></i>
								</div>
								<input type="text" class="form-control" id="precioVenta" name="precioVenta"
							placeholder="Ingrese Precio de Venta"
							data-validation="required"
			 				data-validation-error-msg-required="Debe ingresar el precio de venta">

							</div>
							<!-- /.input group -->
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>Stock Actual:</label>

							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-hashtag"></i>
								</div>
								<input type="text" class="form-control" id="stockActual" name="stockActual">
							</div>
							<!-- /.input group -->
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>Cantidad:</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-usd"></i>
								</div>
								<input type="text" class="form-control" id="cantidad" name="cantidad"
							placeholder="Ingrese cantidad"
							data-validation="required"
			 				data-validation-error-msg-required="Debe ingresar la cantidad">
							</div>
							<!-- /.input group -->
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.box-body -->
			<div class="modal-footer">
				<button type="button" class="btn btn-success">
					<span class="glyphicon glyphicon-shopping-cart"></span> Agregar
					Producto
				</button>
			</div>
		</div>
	</div>

	<!-- #### SECCION DE VENTA -->


	<div class="col-md-6">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Venta</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool"
						data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove">
						<i class="fa fa-remove"></i>
					</button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">

						<!-- total a pagar  -->
						<div class="col-md-12">
							<div class="form-group">
								<label>Cliente:</label>
								<div class="box-body">
									<div id="magicsuggestCliente"></div>
								</div>
								<!-- /.box-body -->
							</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Sub-Total:</label>

								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-usd"></i>
									</div>
									<input type="text" class="form-control" id="subTotal" name="subTotal"
							placeholder="Ingrese sub-total"
							data-validation="required"
			 				data-validation-error-msg-required="Debe ingresar monto sin iva">
								</div>
								<!-- /.input group -->
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="exampleInputFile">Fecha:</label>
									<input type="date" class="form-control" id="fechaVenta" name="fechaVenta"
							placeholder="Ingrese fecha"
							data-validation="required"
			  				data-validation-error-msg-required="Ingrese fecha en la cual se realizo la venta">
							</div>
						</div>
						
						<label>Total:</label>
						<div class="col-md-12">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-usd"></i>
									</div>
									<input type="text" class="form-control input-money" value="0.0">
								</div>
								<!-- /.input group -->
							</div>
						</div>
						
						
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-ok"></span> Confirmar
							</button>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.box-body -->
			
		</div>
	</div>
	
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Productos Agregados</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Cant.</th>
                  <th>Precio Unit.</th>
                  <th>IVA 10%</th>
                  <th>Sub-Total</th>
                  <th>Acción</th>
                </tr>
                <tr>
                  <td>183</td>
                  <td>Cocal Cola de ejemplo</td>
                  <td>2</td>
                  <td>5.000</td>
                  <td>500</td>
                  <td>10.000</td>
                  <td>10.000</td>
                  <td><button type="button" class="btn btn-danger">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
					</td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>


	<script type="text/javascript">
		$(document).ready(
				function() {
					var suggestProducto = crearMagicSuggest('magicsuggest',
							"[[@{/producto/suggest}]]", 'id', 'descripcion');
					crearMagicSuggest('magicsuggestCliente',
							"[[@{/cliente/suggest}]]", 'id', 'nombre');
					
					//buscar producto
					$(suggestProducto).on('selectionchange', function(a,b,c){
						if (c.length == 0){
							$("#codigo").val("");
							$("#nombre").val("");
							$("#precioVenta").val("");
							$("#cantidad").val("");
							$("#stockActual").val("");
						}else{
							var producto = c[0];
							$("#codigo").val(producto.codigo);
							$("#nombre").val(producto.descripcion);
							$("#precioVenta").val(producto.precioVenta);
							$("#cantidad").val(1);
							$("#stockActual").val(producto.cantidad);	
						}
						
						  console.log("cambió el valor del maicsuggest: " + this.getValue());
						});
					
					var fecha = new Date();
					var dd = fecha.getDate();
					var mm = (fecha.getMonth() +1);
					dd=addZero(dd);
					mm=addZero(mm);
					fechaActual = fecha.getFullYear()+"-"+mm+"-"+dd;
					$("#fechaVenta").val(fechaActual);
					
					function addZero(i) {
					    if (i < 10) {
					        i = '0' + i;
					    }
					    return i;
					}
					
				});
	</script>
</div>
</html>