<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">
<meta charset="utf-8"/>
<div class="row" th:fragment="contenido">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Lista de Ventas</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
              <table id="ventaDT" class="table table-bordered table-hover">
                <thead>
                <tr>
					<th th:each="col : ${columnas}" th:text="#{'venta.' + ${col} + '.header'}">CÓDIGO</th>
				</tr>
                </thead>
              </table>
            </div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->


		<!-- /.box -->
	</div>
	<script type="text/javascript">
		
		$(document).ready(function() {
			crearDataTableSinAccion("ventaDT", "[[@{/venta/json}]]", "[[${columnasStr}]]", "[[@{/venta/edit/}]]");
		});
	
	</script>
</div>
</html>