<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">
<div class="col-md-6"  th:fragment="form">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="${tituloFormulario}"></h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form th:action="@{/cliente/accion}" th:object="${cliente}" method="post"
		role="form" id="form-usuario">
		<input type="hidden" th:field="*{id}" />
				<div class="box-body">
					<div class="form-group">
						<label for="exampleInputFile">Nombre:</label> 
						<input th:field="*{nombre}" type="text" class="form-control" id="nombre" maxlength="30" onkeypress="return soloLetras(event);" onKeyUp="this.value = this.value.toUpperCase();"
							placeholder="Ingrese su/s nombre/s Ej: Luis Alberto"
							data-validation="required"
			 				data-validation-error-msg-required="Debe ingresar el nombre del cliente">
					</div>
					<div class="form-group">
						<label for="exampleInputFile">Apellido:</label> 
						<input th:field="*{apellido}" type="text" class="form-control" id="apellido" maxlength="30" onkeypress="return soloLetras(event);" onKeyUp="this.value = this.value.toUpperCase();"
							placeholder="Ingrese su/s apellido/s Ej: Lopez Diaz"
							data-validation="required"
							data-validation-error-msg-required="Debe ingresar el apellido del cliente">
					</div>
					<div class="form-group">
						<label for="exampleInputFile">R.U.C./ C.I.:</label>
						<input th:field="*{ruc}" type="text" class="form-control" id="ruc" pattern="[0-9_-]{6,20}" title="Por ejemplo CI 123456 y/o RUC 789456-1"
							placeholder="Ingrese su RUC o CI"
							data-validation="required"
			  				data-validation-error-msg-required="Debe ingresar el RUC/CI del cliente">
					</div>
					<div class="form-group">
						<label for="exampleInputFile">Fecha de nacimiento:</label>
						<input th:field="*{fecha_nacimiento}" type="text" class="form-control" id="fecha" maxlength="10" onKeyUp = "this.value=formateafecha(this.value);"
							placeholder="Ingrese fecha"
							data-validation="required"
			  				data-validation-error-msg-required="Ingrese fecha de nacimiento del cliente">
					</div>
					<div class="form-group">
						<label for="exampleInputFile">Sexo:</label>
						<input th:field="*{sexo}" type="text" class="form-control" id="sexo" pattern="[M|H]" maxlength="1" title="Seleccione H para hombre y/o M para mujer" onkeydown="prueba(event)" onKeyUp="this.value = this.value.toUpperCase();"
							placeholder="Ingrese sexo del cliente Ej: H hombre y/o M mujer"
							data-validation="required"
							data-validation-error-msg-required="Debe seleccionar sexo del cliente: H hombre y/o M mujer">
					</div>
					<div class="form-group reg-number">
						<label for="exampleInputFile">Tel茅fono / Cel.:</label>
						<input th:field="*{nroTelefono}" type="text" class="form-control" id="telefono"
							placeholder="Ingrese telefono o cel">
							
					</div>
					<div class="form-group">
						<label for="exampleInputFile">Email:</label>
						<input th:field="*{correoElectronico}" type="email" class="form-control" id="correoElectronico"
							placeholder="correo@hotmail.com">

					</div>
					<div class="form-group reg-charac-number">
						<label for="exampleInputFile">Direcci贸n:</label>
						<input th:field="*{direccion}" type="text" class="form-control" id="direccion"
							placeholder="Ingrese direcci贸n"
							data-validation="required"
							data-validation-error-msg-required="Debe ingresar la direcci贸n del cliente">
					</div>		
					<div class="form-group">
	                  <div class="col-sm-offset-2 col-sm-10">
	                    <div class="checkbox">
	                      <label>
	                        <input type="checkbox" th:field="*{estado}" value="A"> Activo?
	                      </label>
	                    </div>
	                  </div>
                	</div>
				</div>
				<!-- /.box-body -->

				<div class="box-footer">
					<div class="form-group col-xs-12 col-sm-12 modal-footer" th:fragment="footerModal">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<button th:if="${accion=='guardar'}" type="submit" class="btn btn-primary" name="accion" value="save" >Guardar</button>
						<button th:if="${accion=='editar'}"type="submit" class="btn btn-primary" name="accion" id="edit"
							value="edit">Confirmar</button>
						<button th:if="${accion=='eliminar'}" type="submit" class="btn btn-primary hidden" name="accion" id="delete"
							value="delete">Eliminar</button>
					</div>
				</div>
			</form>
		</div>
		<!-- /.box -->
		<div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Esta Seguro?</h4>
              </div>
              <form th:action="@{/cliente/accion2}" method="post" role="form" id="form-usuario">
              <input type="hidden" name="id_objeto" id="eliminarcliente">
              <div class="modal-body">
                <p><b>Aceptar:</b> Para eliminar el cliente</p>
                <p><b>Cancelar:</b> Para cancelar la operaci贸n</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" name="accion" value="delete">Aceptar</button>
              </div>
              </form>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <script>
		    $.validate({
	        form: '#form-usuario',
	        errorElementClass: 'validation-error',
	        errorMessageClass: 'input-error',
	        borderColorOnError: '',
	        validateOnBlur: true,
	        scrollToTopOnError: false,
	        onError: function(){
	        	console.log("ds")
	        	}
	        });
	        
			var REGEX_NUMBERS_ONLY = "^[0-9\b]+$";
			$(".reg-number").on('keypress', function(event){
			    	var regex = new RegExp(REGEX_NUMBERS_ONLY);
				    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
				    if (!regex.test(key)) {
				       event.preventDefault();
				       return false;
				    }
		    });
	        
	        var REGEX_LETTERS = "^[a-zA-Z0-9]+$";
			$(".reg-charac-number").on('keypress', function(event){
					var key= String.fromCharCode(!event.charCode ? event.witch : event.charCode);
					if (!regex.test(key)){
						event.preventDefault();
						return false;
					}
			});
			
	        var REGEX_CHAR = "^[A-Z]+$";
			$(".reg-charac").on('keypress', function(event){
					var key= String.fromCharCode(!event.charCode ? event.witch : event.charCode);
					if (!regex.test(key)){
						event.preventDefault();
						return false;
					}
			});
			
			function soloLetras(e) {
			    key = e.keyCode || e.which;
			    tecla = String.fromCharCode(key).toString();
			    letras = " 衢眢鷄bcdefghijklmn駉pqrstuvwxyz辽陀贏BCDEFGHIJKLMN袿PQRSTUVWXYZ";//Se define todo el abecedario que se quiere que se muestre.
			    especiales = [8, 37, 39, 46, 6]; //Es la validaci髇 del KeyCodes, que teclas recibe el campo de texto.

			    tecla_especial = false
			    for(var i in especiales) {
			        if(key == especiales[i]) {
			            tecla_especial = true;
			            break;
			        }
			    }

			    if(letras.indexOf(tecla) == -1 && !tecla_especial){
					alert('Solo se acepta letras');
			        return false;
			      }
			}
			
			function IsNumeric(valor) 
			{ 
			var log=valor.length; var sw="S"; 
			for (x=0; x<log; x++) 
			{ v1=valor.substr(x,1); 
			v2 = parseInt(v1); 
			//Compruebo si es un valor num閞ico 
			if (isNaN(v2)) { sw= "N";} 
			} 
			if (sw=="S") {return true;} else {return false; } 
			} 
			var primerslap=false; 
			var segundoslap=false; 
			function formateafecha(fecha) 
			{ 
			var long = fecha.length; 
			var dia; 
			var mes; 
			var ano; 
			if ((long>=2) && (primerslap==false)) { dia=fecha.substr(0,2); 
			if ((IsNumeric(dia)==true) && (dia<=31) && (dia!="00")) { fecha=fecha.substr(0,2)+"/"+fecha.substr(3,7); primerslap=true; } 
			else { fecha=""; primerslap=false;} 
			} 
			else 
			{ dia=fecha.substr(0,1); 
			if (IsNumeric(dia)==false) 
			{fecha="";} 
			if ((long<=2) && (primerslap=true)) {fecha=fecha.substr(0,1); primerslap=false; } 
			} 
			if ((long>=5) && (segundoslap==false)) 
			{ mes=fecha.substr(3,2); 
			if ((IsNumeric(mes)==true) &&(mes<=12) && (mes!="00")) { fecha=fecha.substr(0,5)+"/"+fecha.substr(6,4); segundoslap=true; } 
			else { fecha=fecha.substr(0,3);; segundoslap=false;} 
			} 
			else { if ((long<=5) && (segundoslap=true)) { fecha=fecha.substr(0,4); segundoslap=false; } } 
			if (long>=7) 
			{ ano=fecha.substr(6,4); 
			if (IsNumeric(ano)==false) { fecha=fecha.substr(0,6); } 
			else { if (long==10){ if ((ano==0) || (ano<1900) || (ano>2100)) { fecha=fecha.substr(0,6); } } } 
			} 
			if (long>=10) 
			{ 
			fecha=fecha.substr(0,10); 
			dia=fecha.substr(0,2); 
			mes=fecha.substr(3,2); 
			ano=fecha.substr(6,4); 
			// A駉 no viciesto y es febrero y el dia es mayor a 28 
			if ( (ano%4 != 0) && (mes ==02) && (dia > 28) ) { fecha=fecha.substr(0,2)+"/"; } 
			} 
			return (fecha); 
			}
	    </script>
	</div>
	<!-- /.col -->
	</html>
	