<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">
<meta charset="utf-8"/>
<div class="row" th:fragment="contenido">
	<div id="formularioCliente">
				<div th:replace="cliente/cliente_form::form">aqui va
										un fragmento de codigo del form
				</div>
			</div>
	<div class="col-md-6">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Lista de Clientes</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
              <table id="clienteDT" class="table table-bordered table-hover">
                <thead>
                <tr>
					<th th:each="col : ${columnas}" th:text="#{'cliente.' + ${col} + '.header'}">CÓDIGO</th>
					<th>Accion</th>
				</tr>
                </thead>
              </table>
            </div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->


		<!-- /.box -->
	</div>
	
	<script type="text/javascript">
		
		$(document).ready(function() {
		  crearDataTable("clienteDT", "[[@{/cliente/json}]]", "[[${columnasStr}]]", "[[@{/cliente/edit/}]]");
		});
		
		function accion(idCliente, accion){
			if(accion=="EDITAR"){
				editarCliente(idCliente);	
			}else if(accion="ELIMINAR"){
				eliminarCliente(idCliente);
			}
			
		}
	</script>
</div>
</html>