<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">
<div class="col-md-6" th:fragment="form">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="${tituloFormulario}">Registrar Proveedor</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form th:action="@{/proveedor/accion}" th:object="${proveedor}" method="post"
		role="form" id="form-usuario">
				<input type="hidden" th:field="*{id}" />
				<div class="box-body">
					<div class="form-group">
						<label for="inputNombre">Nombre o razón social:</label> 
						<input th:field="*{nombre}" type="text" class="form-control" id="nombre"
							placeholder="Ingrese Proveedor"
							data-validation="required"
							data-validation-error-msg-required="Debe ingresar nombre de proveedor">
					</div>
					<div class="form-group">
						<label for="exampleInputFile">R.U.C.:</label>
						<input th:field="*{ruc}" type="text" class="form-control" id="ruc"
							placeholder="Ingrese su RUC"
							data-validation="required"
							data-validation-error-msg-required="Debe ingresar RUC del proveedor">
					</div>
					<div class="form-group">
						<label for="inputNombre">Nombre de contacto:</label> 
						<input th:field="*{nombre_contacto}" type="text" class="form-control" id="nombre_contacto"
							placeholder="Ingrese Nombre"
							data-validation="required"
							data-validation-error-msg-required="Debe ingresar nombre de contacto a proveedor">
					</div>
					<div class="form-group">
						<label for="exampleInputFile">Teléfono / Cel.:</label>
						<input th:field="*{nroTelefono}" type="text" class="form-control" id="telefono"
							placeholder="Ingrese telefono o cel"
							data-validation="required"
							data-validation-error-msg-required="Debe ingresar telefono para contacto">
					</div>
					<div class="form-group">
						<label for="exampleInputFile">Email:</label>
						<input th:field="*{correoElectronico}" type="email" class="form-control" id="correoElectronico"
							placeholder="correo@hotmail.com">
					</div>
					<div class="form-group">
						<label for="exampleInputFile">Dirección:</label>
						<input th:field="*{direccion}" type="text" class="form-control" id="direccion"
							placeholder="Ingrese dirección">
					</div>		
					<div class="form-group">
	                  <div class="col-sm-offset-2 col-sm-10">
	                    <div class="checkbox">
	                      <label>
	                        <input type="checkbox" th:field="*{estado}" value="A"> Activo?
	                      </label>
	                    </div>
	                  </div>
                	</div>
				</div>
				<!-- /.box-body -->

				<div class="box-footer">
					<div class="form-group col-xs-12 col-sm-12 modal-footer" th:fragment="footerModal">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<button th:if="${accion=='guardar'}" type="submit" class="btn btn-primary" name="accion" value="save" >Guardar</button>
						<button th:if="${accion=='editar'}"type="submit" class="btn btn-primary" name="accion" id="edit"
							value="edit">Confirmar</button>
						<button th:if="${accion=='eliminar'}" type="submit" class="btn btn-primary hidden" name="accion" id="delete"
							value="delete">Eliminar</button>
					</div>
				</div>
			</form>
		</div>
		<!-- /.box -->
		<div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Esta Seguro?</h4>
              </div>
              <form th:action="@{/proveedor/accion2}" method="post" role="form" id="form-usuario">
              <input type="hidden" name="id_objeto" id="eliminarProveedor">
              <div class="modal-body">
                <p><b>Aceptar:</b> Para eliminar el Proveedor</p>
                <p><b>Cancelar:</b> Para cancelar la operación</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" name="accion" value="delete">Aceptar</button>
              </div>
              </form>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <script>
		    $.validate({
	        form: '#form-usuario',
	        errorElementClass: 'validation-error',
	        errorMessageClass: 'input-error',
	        borderColorOnError: '',
	        validateOnBlur: true,
	        scrollToTopOnError: false,
	        onError: function(){
	        	console.log("ds")
	        	}
	        })
	    </script>
	</div>
	<!-- /.col -->
	</html>