<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">
<meta charset="utf-8"/>
<div class="row" th:fragment="contenido">
	<div id="formularioProveedor">
		<div th:replace="proveedor/proveedor_form::form">aqui va
								un fragmento de codigo del form
		</div>
	</div>
	<div class="col-md-6">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Lista de Proveedores</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
              <table id="proveedorDT" class="table table-bordered table-hover">
                <thead>
                <tr>
					<th th:each="col : ${columnas}" th:text="#{'proveedor.' + ${col} + '.header'}">CÓDIGO</th>
					<th>Accion</th>
				</tr>
                </thead>
              </table>
            </div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->


		<!-- /.box -->
	</div>
	
	<script type="text/javascript">
		
		$(document).ready(function() {
		  crearDataTable("proveedorDT", "[[@{/proveedor/json?sSearch=A}]]", "[[${columnasStr}]]", "[[@{/proveedor/edit/}]]");
		});
		
		function accion(id, accion){
			if(accion=="EDITAR"){
				editarProveedor(id);	
			}else if(accion="ELIMINAR"){
				eliminarProveedor(id);
			}
			
		}
	</script>
</div>
</html>