<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">
	<div class="col-md-6" th:fragment="form">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="${tituloFormulario}"></h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form th:action="@{/producto/accion}" th:object="${producto}" method="post"
		role="form" id="form-usuario">
		<input type="hidden" th:field="*{idProducto}" />
				<div class="box-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="exampleInputFile">Tipo de producto:</label>
								<select class="form-control" 
									th:field="*{tipoProducto}"
									data-validation="required"
									data-validation-error-msg-required="Debe seleccionar el tipo de producto">
									<option value="MP">Materia Prima</option>
									<option value="P">Producto</option>
								</select>
							</div>
						</div>
					
						<div class="col-lg-6">
							<div class="form-group">
								<label for="exampleInputFile">Familia:</label>
								<select class="form-control"
									th:field="*{familia}"
									data-validation="required"
									data-validation-error-msg-required="Debe seleccionar la familia">
									<option th:each="familia : ${familiaList}"
										th:value="${familia.id}" th:text="${familia.nombre}">Bebidas</option>
								</select>
							</div>	
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group reg-charac-number">
								<label for="exampleInputPassword1">Código:</label> 
								<input th:field="*{codigo}" type="text" class="form-control" id="codigo"
									placeholder="Ingrese código"
									data-validation="required"
									data-validation-error-msg-required="Debe ingresar el código">
							</div>	
						</div>
						
						<div class="col-lg-6">					
							<div class="form-group reg-charac-number">
								<label for="exampleInputPassword1">Descripción:</label> 
								<input th:field="*{descripcion}" type="text" class="form-control" id="descripcion" onKeyUp="this.value = this.value.toUpperCase();"
									placeholder="Ingrese descripcion"
									data-validation="required"
									data-validation-error-msg-required="Debe ingresar la descripcion">
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group reg-number">
								<label for="exampleInputFile">Precio de Compra:</label>
								<input th:field="*{precioCompra}" type="text" class="form-control importe" id="precioCompra" oninput="formatInput()"

									placeholder="Ingrese Precio de Compra"
									data-validation="required"
									data-validation-error-msg-required="Debe ingresar el precio de compra">
							</div>
						</div>
							
						<div class="col-lg-6">	
							<div class="form-group reg-number">
								<label for="exampleInputFile">Precio de Venta:</label>
								<input th:field="*{precioVenta}" type="text" class="form-control importe" id="precioVenta"  oninput="formatInput()"
									placeholder="Ingrese Precio de Venta"
									data-validation="required"
									data-validation-error-msg-required="Debe ingresar el precio de venta">
							</div>	
						</div>
					</div>
					
					<div class="form-group">
	                  <div class="col-sm-offset-2 col-sm-10">
	                    <div class="checkbox">
	                      <label>
	                        <input type="hidden" name="estado" value="A">
	                      </label>
	                    </div>
	                  </div>
                	</div>	
                	
                	<!-- <div> <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="limpiarFormulario()" >Limpiar campos</button> </div> -->
				</div>
				<!-- /.box-body -->

				<div class="box-footer">
					<div class="form-group col-xs-12 col-sm-12 modal-footer" th:fragment="footerModal">
						<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="limpiarFormulario()" >Cancelar</button>
						<button th:if="${accion=='guardar'}" type="submit" class="btn btn-primary" name="accion" value="save" onclick="validaciones()" >Guardar</button>
						<button th:if="${accion=='editar'}"type="submit" class="btn btn-primary" name="accion" id="edit"
							value="edit">Confirmar</button>
						<button th:if="${accion=='eliminar'}" type="submit" class="btn btn-primary hidden" name="accion" id="delete"
							value="delete">Eliminar</button>
					</div>
				</div>
			</form>
		</div>
		<div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Esta Seguro?</h4>
              </div>
              <form th:action="@{/producto/accion2}" method="post" role="form" id="form-usuario">
              <input type="hidden" name="id_objeto" id="eliminarProducto">
              <div class="modal-body">
                <p><b>Aceptar:</b> Para eliminar el Producto</p>
                <p><b>Cancelar:</b> Para cancelar la operación</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" name="accion" value="delete">Aceptar</button>
              </div>
              </form>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <script>
       		$(document).ready(function(){
       			formatInput();
       			var precioVenta = $("#precioVenta").val();
       			var precioCompra = $("#precioCompra").val();
       			
       			if(precioVenta !="" && precioVenta!=null && precioVenta !=undefined ){
       				$("#precioVenta").val(formatInputEdit(precioVenta));
       				
       			}
       			
       			if(precioCompra !="" && precioCompra!=null && precioCompra !=undefined ){
       				$("#precioCompra").val(formatInputEdit(precioCompra));
       				
       			}
       			
       			$("#precioVenta").on('focusout', function(){
           			var venta = $("#precioVenta").val();
           			var compra =$("#precioCompra").val(); 
           			if(parseInt(venta.replace(".","")) <= parseInt(compra.replace(".",""))){
	           			alert('El precio de venta no puede ser menor o igual al precio de compra');
	           			$("#msgError").html("El precio de venta no puede ser menor o igual al precio de compra");
	           			$(this).val('');
           			}
           			
           		})
	       	
       		});
       		
       	  function limpiarFormulario() {
       	    document.getElementById("form-usuario").reset();
       	  };
       	  
				$.validate({
			        form: '#form-usuario',
			        errorElementClass: 'validation-error',
			        errorMessageClass: 'input-error',
			        borderColorOnError: '',
			        validateOnBlur: true,
			        scrollToTopOnError: false,
			        onError: function(){
			        	console.log("ds")
			        	}
			    })
			    
			    var REGEX_NUMBERS_ONLY = "^[0-9\b]+$";
				$(".reg-number").on('keypress', function(event){
				    	var regex = new RegExp(REGEX_NUMBERS_ONLY);
					    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
					    if (!regex.test(key)) {
					       event.preventDefault();
					       return false;
					    }
			    });
				
				var REGEX_LETTERS = "^[a-zA-Z0-9]+$";
				$(".reg-charac-number").on('keypress', function(event){
						var key= String.fromCharCode(!event.charCode ? event.witch : event.charCode);
						if (!regex.test(key)){
							event.preventDefault();
							return false;
						}
				});
				
				
       		/*})*/
</script>
	</div>
	<!-- /.col -->
	
	</html>