<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">
<meta charset="utf-8"/>
<div class="row" th:fragment="contenido">
	<div id="formularioProducto">
				<div th:replace="producto/producto_form::form">aqui va
										un fragmento de codigo del form</div>
		    </div>
	<div class="col-md-6">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Lista de Productos</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
              <table id="productoDT" class="table table-bordered table-hover">
                <thead>
                <tr>
					<th th:each="col : ${columnas}" th:text="#{'producto.' + ${col} + '.header'}">CÓDIGO</th>
					<th>Accion</th>
				</tr>
                </thead>
              </table>
            </div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->


		<!-- /.box -->
	</div>
	
	<div class="modal fade" id="borradoPopup" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<form th:object="${producto}" th:action="@{/producto/eliminar_listado}"
				method="post" role="form" id="idCliente">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Borrado de
								Registro</h4>
						</div>
						<div class="modal-body">
							¿Desea borrar registro de forma permanente? <input
								type="hidden" for="id_objeto" id="id_objeto" name="id_objeto" />
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary" name="accion"
								value="delete">Confirmar</button>
						</div>

					</div>
					<!-- /.modal-content -->
				</div>
			</form>
			<!-- /.modal-dialog -->
		</div>
		<!-- FIN Modal borrar -->
		
	


	
	<script type="text/javascript">
		
		$(document).ready(function() {
		  crearDataTable("productoDT", "[[@{/producto/json}]]", "[[${columnasStr}]]", "[[@{/producto/edit/}]]");
		});
		
		function accion (idProducto, accion){
			if(accion=="EDITAR"){
				editarProducto();
			}
			else if(accion="ELIMINAR"){
				eliminarProducto();
			}
		}
	</script>
</div>
</html>