@charset "UTF-8";

.alinear{
	position: absolute;
    z-index: 1;
    right: 0;
    top: 1px;	
}

.input-money{
	height: 50px;
    text-align: center;
    font-size: 35px;
}

.not-bold{
	font-weight: normal !important;
}

.border-none{
	border: none;
}

.box-header.with-borderC {
    border-bottom: 1px solid #f31212;
}