<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">
<meta charset="utf-8"/>
<div class="row" th:fragment="contenido">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Flujo de dinero</h3>
			</div>
			<a type="button" class="btn btn-primary" onclick="ingreso()" style="margin-left: 10px;" >Ingreso</a>
			<a type="button" class="btn btn-primary" onclick="egreso()" >Egreso</a>
			<a type="button" class="btn btn-primary" href="@{/caja/cierre}" >Cierre de Caja</a>
			<!-- /.box-header -->
			<div class="box-body"> 
              <table id="cajaDT" class="table table-bordered table-hover">
                <thead>
                <tr>
					<th th:each="col : ${columnas}" th:text="#{'caja.' + ${col} + '.header'}">CÓDIGO</th>
					<th></th>
				</tr>
                </thead>
              </table>
            </div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->


		<!-- /.box -->
	</div>
	
	<!-- Modal de ingreso de caja	 -->
	<div class="modal fade" id="modal-ingreso">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Ingreso de Dinero</h4>
            </div>
            <form th:action="@{/caja/registro}" method="post" role="form" id="form-caja" th:object="${caja}" >
	            <input type="hidden" name="comprobanteCompra" id="comprobanteCompra">
	            <div class="modal-body">
	              <div class="row">
						<div class="col-lg-6">
							<div class="form-group reg-number">
								<label for="exampleInputFile">Importe:</label>
								<input th:field="*{entrada}" type="text" class="form-control cajaEntrada hidden importe" id="entrada"
									placeholder="Ingrese el importe"
									data-validation="required"
									data-validation-error-msg-required="Debe ingresar el importe">
							</div>
						</div>
						
						
						
						<div class="col-lg-12">					
							<div class="form-group reg-charac-number">
								<label for="exampleInputPassword1">Descripción:</label> 
								<select th:field="*{descripcion}" class="form-control col-xs-6 col-sm-6 rol" id="descripcion">
										<option th:each="acc: ${acciones}" th:value="${acc.codigo}"
											th:text="${acc.descripcion}">Administrador</option>
						
									</select>
<!-- 								<input th:field="*{descripcion}" type="text" class="form-control" id="descripcion" onKeyUp="this.value = this.value.toUpperCase();" -->
<!-- 									placeholder="Ingrese descripcion" -->
<!-- 									data-validation="required" -->
<!-- 									data-validation-error-msg-required="Debe ingresar la descripcion"> -->
							</div>
						</div>
					</div>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
	              <button type="submit" class="btn btn-primary" name="accion" value="comprobante">Guardar</button>
	            </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
        
        
        
	<!-- Modal de ingreso de caja	 -->
	<div class="modal fade" id="modal-egreso">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Egreso de Dinero</h4>
            </div>
            <form th:action="@{/caja/registro}" method="post" role="form" id="form-caja" th:object="${caja}" >
	            <input type="hidden" name="comprobanteCompra" id="comprobanteCompra">
	            <div class="modal-body">
	              <div class="row">
						<div class="col-lg-6">
							<div class="form-group reg-number">
								<label for="exampleInputFile">Importe:</label>			
								<input th:field="*{salida}" type="text" class="form-control cajaSalida hidden importe" id="salida"
									placeholder="Ingrese el importe" 
									data-validation="required"
									data-validation-error-msg-required="Debe ingresar el importe">
							</div>
						</div>

						
						<div class="col-lg-12">					
							<div class="form-group reg-charac-number">
								<label for="exampleInputPassword1">Descripción:</label> 
								<select th:field="*{descripcion}" class="form-control col-xs-6 col-sm-6 rol" id="descripcion">
										<option th:each="acc: ${acciones}" th:value="${acc.codigo}"
											th:text="${acc.descripcion}">Administrador</option>
						
									</select>
							</div>
						</div>
					</div>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
	              <button type="submit" class="btn btn-primary" name="accion" value="comprobante">Guardar</button>
	            </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
        
        <!-- MODAL DE CIERRE DE CAJA  -->
	<div class="modal fade" id="modal-cierre">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Cierre del día</h4>
            </div>
	            <input type="hidden" name="comprobanteCompra" id="comprobanteCompra">
	            <div class="modal-body">
	              <div class="row">
						<div class="col-lg-6">
							<div class="form-group reg-number">
								<label for="exampleInputFile">Importe:</label>			
								<input th:field="*{salida}" type="text" class="form-control cajaSalida hidden importe" id="salida"
									placeholder="Ingrese el importe" 
									data-validation="required"
									data-validation-error-msg-required="Debe ingresar el importe">
							</div>
						</div>

						
						<div class="col-lg-12">					
							<div class="form-group reg-charac-number">
								<label for="exampleInputPassword1">Descripción:</label> 
								<select th:field="*{descripcion}" class="form-control col-xs-6 col-sm-6 rol" id="descripcion">
										<option th:each="acc: ${acciones}" th:value="${acc.codigo}"
											th:text="${acc.descripcion}">Administrador</option>
						
									</select>
							</div>
						</div>
					</div>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
	              <button type="submit" class="btn btn-primary" name="accion" value="comprobante">Guardar</button>
	            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
        
        <!-- / MODAL DE CIERR DE CAJA  -->
	<script th:inline="javascript">
					/*<![CDATA[*/
		
		$(document).ready(function() {
			crearDataTableSinAccion("cajaDT", [[@{/caja/json}]], [[${columnasStr}]], false);
			
		});
					
		function ingreso(){
			$(".cajaEntrada").removeClass("hidden");
			$(".cajaSalida").addClass("hidden");
			$("#modal-ingreso").modal('show');
			
		}
		
		function egreso(){
			$(".cajaSalida").removeClass("hidden");
			$(".cajaEntrada").addClass("hidden");
			$("#modal-egreso").modal('show');
			
		}
	
	</script>
</div>
</html>