<html xmlns:th="http://www.thymeleaf.org">
<!-- Modal de confirmación de Compra	 -->
	<div class="modal fade" id="modalReporte">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Cierre de Caja</h4>
            </div>
            <input type="hidden" name="id_cabecera" id="id_cabecera" th:value="${idCab}">
            <div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group box-header with-borderC">
								<label  for="label">Fecha:</label> <label for="label not-bold" class="not-bold" th:text="${fecha}">
								Nombre</label>

							</div>
							<div class="form-group box-header with-borderC">
								<label for="label">Apertura:</label> <label for="label not-bold" class="not-bold" th:text="${@generalUtils.formatMontoMonedaToString(apertura, 'GS','N')}">
								Nombre</label>

							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group box-header with-borderC">
								<label  for="label">Total Ingreso:</label> <label for="label not-bold" class="not-bold" th:text="${@generalUtils.formatMontoMonedaToString(totalIngreso, 'GS','S')}">
								Nombre</label>

							</div>
							<div class="form-group box-header with-borderC">
								<label for="label">Total Egreso:</label> <label for="label not-bold" class="not-bold" th:text="${@generalUtils.formatMontoMonedaToString(totalEgreso, 'GS','S')}">
								Nombre</label>

							</div>
						</div>
						<div class="col-lg-12 float-rigth">
							<div class="form-group box-header with-borderC">
								<label  for="label">Total:</label> <label for="label not-bold" class="not-bold" th:text="${@generalUtils.formatMontoMonedaToString(total, 'GS','S')}">
								Nombre</label>

							</div>
							
						</div>
					</div>
					<hr/>
            </div>
            <div class="modal-footer border-none">
              <a th:href="@{'/caja/comprobante/' + ${idReporte}}" target="_blank" class="btn btn-primary pull-left" >Imprimir <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
</html>