<html xmlns:th="http://www.thymeleaf.org">
<!-- Modal de confirmación de Compra	 -->
	<div class="modal fade" id="modalConfirmacion">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Detalle de Venta</h4>
            </div>
            <form th:action="@{/caja/confirmar}" method="post" role="form" id="form-comprobante">
            <input type="hidden" name="id_cabecera" id="id_cabecera" th:value="${idCab}">
            <div class="modal-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label  for="label">Nombre y Apellido:</label> <label for="label not-bold" class="not-bold" th:text="${cabeceraDetalle.cliente.nombre +', '+cabeceraDetalle.cliente.apellido}">
								Nombre</label>

							</div>
							<div class="form-group">
								<label for="label">Feha Emisión:</label> <label for="label not-bold" class="not-bold" th:text="${cabeceraDetalle.fechaEmision}">
								Nombre</label>

							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label  for="label">Nro. Comprobante:</label> <label for="label not-bold" class="not-bold" th:text="${cabeceraDetalle.nroComprobante}">
								Nombre</label>

							</div>
							<div class="form-group">
								<label for="label">IVA:</label> <label for="label not-bold" class="not-bold" th:text="${cabeceraDetalle.iva}">
								Nombre</label>

							</div>
						</div>
						<div class="col-lg-6 float-rigth">
							<div class="form-group">
								<label  for="label">Total:</label> <label for="label not-bold" class="not-bold" th:text="${cabeceraDetalle.montoTotal}">
								Nombre</label>

							</div>
							
						</div>
					</div>
					<hr/>
					<div class="col-lg-12 ">
						<table id="ventaDT" class="table table-bordered table-hover">
		                <thead>
		                <tr>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Total</th>
						</tr>
		                </thead>
		                <tbody>
		                	<tr th:each="det : ${listDetalle}">
		                		<td th:text="${det.producto.descripcion}"></td>
		                		<td th:text="${det.cantidad}"></td>
		                		<td th:text="${det.precioTotal}"></td>
		                	</tr>
		                </tbody>
		              </table>
	              </div>
            </div>
            <div class="modal-footer border-none">
              <button type="submit" class="btn btn-primary pull-left" name="conf" value="confirmar">Confirmar</button>
              <button type="submit" class="btn btn-danger pull-left "name="conf" value="anular">Anular</button>
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
            </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
</html>