<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">
<meta charset="utf-8"/>
<div class="row" th:fragment="contenido">
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
	<div class="col-md-3 col-sm-6 col-xs-12" style="padding-left: 0px;">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Total ventas</span>
            <span class="info-box-number" th:text="${session.cantidadVentas}"></span>
          </div>
          <!-- /.info-box-content -->
       </div>
       <!-- /.info-box -->
     </div>
     
     <div class="col-md-3 col-sm-6 col-xs-12 "  style="padding-left: 0px;">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Clientes</span>
              <span class="info-box-number" th:text="${session.cantidadClientes}"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </div>
	
	<!-- DONUT CHART -->
	<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Productos Vendidos</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body chart-responsive">
              <div class="chart" id="sales-chart" style="height: 300px; position: relative;"></div>
            </div>
            <!-- /.box-body -->
          </div>
          </div>
          <!-- /.box -->
          <script th:inline="javascript">
					/*<![CDATA[*/
$(document).ready(function() {
	$.ajax({
	    type: "GET",
	    url: "/gestionart/donut-data",
	    data: {}
	}).done(function(json_data){
		//DONUT CHART
	    var donut = new Morris.Donut({
	      element: 'sales-chart',
	      resize: true,
	      colors: ["#3c8dbc", "#f56954", "#00a65a"],
	      data: json_data,
	      hideHover: 'auto'
	    });
	    
	});
});

</script>
</div>
</html>